/* סגנון עבור תמונות הקישורים */
.pic {
    width: calc(25% - 20px); /* 25% רוחב כללי עבור 4 תמונות, ומורחב ב־20px */
    height: auto; /* גובה אוטומטי עבור שמירת יחסי תמונה */
    margin: 10px; /* מרווח חיצוני 10px בין תמונות */
    float: left; /* יישור שמאלי */
  }
  
  @media (max-width: 600px) {
    .pic {
      width: calc(50% - 20px); /* 50% רוחב עבור 2 תמונות בשורה, ומורחב ב־20px */
    }
  }
  
  .pic img {
    max-width: 100%; /* גודל מרבי עבור התמונה כך שהיא לא תהיה יותר רחבה מהאלמנט האב */
    height: auto; /* גובה אוטומטי עבור שמירת יחסי תמונה */
  }
  /* סגנון עבור כותרת */
  
  
  /* סגנון עבור התמונה הראשית */
  .women {
    width: 100%; /* תצוגה מלאה של התמונה */
    height: auto; /* גובה אוטומטי עבור שמירת יחסי תמונה */
    display: block; /* תמונה משולבת תצוגה בלוק */
    margin-bottom: 20px; /* מרווח בתחתית התמונה */
  }
  
  /* סגנון עבור קונטיינר */
  .home-container {
    display: flex; /* תצוגת רכיבים כאשר הרכיבים מסדרים זה ליד זה */
    flex-wrap: wrap; /* תצוגת מעטפת של הרכיבים במקרה של שורות מרובות */
    justify-content: center; /* יישור הרכיבים באמצע הדף */
  }
